// Configuration for testing and running locally
params {
    input_table = 'testData/example_input.csv'
    local_r_library = '/home/cabe12/R/'
    lftp_bin = 'lftp'
   }

// Container Runtime Configuration --------------------------------------------

apptainer {
   enabled = false
   temp    = '~/.apptainer'
}

process {
     executor         = 'local'
 }

// Process Configuration ------------------------------------------------------

